<div class="recommendation-box flex four">
  <div class="recommendation-title three-fourth">
    <span class="recommendation-img">
      <img class="recommendation-icon-img" src="assets/icons/<%= recommendation.icon_name %>.svg"/>
    </span>

    <%= recommendation.title %>
  </div>
  <% if recommendation.author %>
    <div class="recommendation-author">
      <div>Autor: <%= recommendation.author %></div>
    </div>
  <% end %>
</div>
