<div class="recommendation-box flex">
  <div class="recommendation-title">
    <p><%= recommendation.title %></p>
    <p class="recommendation-episode"><span><%= recommendation.post_title %></span></p>
  </div>
  <% if recommendation.author %>
    <div class="recommendation-author">
      <div><%= recommendation.author %></div>
    </div>
  <% end %>
</div>
