<div class="recommendation-box flex four">
  <div class="recommendation-title three-fourth">
    <%= recommendation.title %>
  </div>
  <% if recommendation.author %>
    <div class="recommendation-author">
      <div><%= recommendation.author %></div>
    </div>
  <% end %>
</div>
