<% recommendations.each do |recommendation| %>
  <div class="recommendation-box">
    <div class="recommendation-icon">
      <!-- <img src="recommendaiton-#{recommendation}"/> -->
    </div>
    <%= recommendation.linted_text %>
  </div>
<% end%>
