<div class="recommendation-box flex two">
  <div class="recommendation-title">
    <span class="recommendation-img">
      <img class="recommendation-icon-img" src="assets/icons/film.svg"/>
    </span>

    <%= recommendation.title %>
  </div>
  <div class="recommendation-author">
    <div>Autor</div>
    <%= recommendation.author %>
  </div>
</div>
