<div class="recommendation-box flex five">
  <div class="recommendation-title three-fifth">
    <%= recommendation.title %>
  </div>
  <% if recommendation.author %>
    <div class="recommendation-author two-fifth flex one">
      <div><%= recommendation.author %></div>
    </div>
  <% end %>
</div>
