:root {
  --color1: #60db20;
  --color2: #2068db;
  --color3: #d453ff;
  --color4: #be2c74;
  --color5: #53fef3;
  --color6: #dbba22;
}

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, Palatino, serif;
  line-height: 1.5;
}

.title {
  font-style: italic;
  padding-bottom: 0;
  font-size: 8vw;
  text-align: center;
  font-weight: 300;
}

.subtitle {
  font-style: italic;
  padding-top: 0;
  color: gray;
  font-weight: 300;
  font-size: 140%;
  text-align: center;
}

body {
  background: #fff;
  /* Never get smaller than this */
  font-size: 4vw;
}

a {
  /*text-decoration: none;*/
  color: #485696;
}

@media (min-width:1000px) {
  body {
    /* Never get larger than this */
    font-size: 18px;
  }


  .title {
    font-size: 6vw;
  }
}

.year {
  border-bottom: 1px solid #ccc;
  font-style: italic;
}

.month {
  font-style: italic;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post {
  text-indent: 2%;
}

.recommendation {
  text-indent: 4%;
}

.container {
  top: 40px;
  width: 85%; /* Minus sidebar */
  margin: 0 auto;
  margin-left: 15%; /* Same as the width of the sidebar */
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
}

#main h1 {
  font-weight: normal;
  letter-spacing: -1px;
}

#main p {
  margin: 10px 0;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  padding: 20px 20px 20px 20px;
  text-align: center;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  width: 15%;
}

#sidebar h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}


#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

a.disabled {
  color: lightgray;
  pointer-events:none;
}

#header {
  text-align: center;
}

.strong {
  font-weight: bold;
  font-size: 110%;
}

#footer {
  margin: 100px 100px;
  text-align: center;
  width: 100%;
  color: grey;
  width: 85%; /* Minus sidebar */
}

.filters {
  text-align: left;
  margin: 5px 5px;
}

.flex {
  text-align: left;
}

.recommendation-stripe {
  height: 100%;
  width: 10px;
}

.recommendation-stripe-sm {
  height: 100%;
  width: 10px;
  display: inline-block;
}

.recommendation-sidebar-box {
  margin: 0.5em 0;
  /*border: 2px solid;*/
  height: 20px;
}

.recommendation-wrapper {
  height: 8em;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  font-size: 110%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  color: #333 !important;
}

.recommendation-wrapper:hover {
  background-color: #f3f3f3;
  transition:all 0.1s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.recommendation-icon-img {
  width: 1em;
}

.recommendation-img {
  width: 1.4em;
  text-align: center;
  margin-left: 2px;
}

.recommendation-box {
  margin: 30px 30px;
}

.recommendation-title {
  vertical-align: center;
}

.recommendation-author {
  text-align: right;
  color: #888;
}

.recommendation-link {
}

.month-nav {
  text-align: center;
}

.back-to-top-outside {
  text-align: right;
  position:relative;
}

.back-to-top-inside {
  position:absolute;
  /*top:50%;*/
  bottom:50%;
  transform:translate(-50%, -350%);
  padding-right: 40px;
}

.recommendation-episode {
  opacity: 80%;
  font-size: 80%;
}

@media screen and (max-width: 1000px) {
  #sidebar {
    padding-top: 2px;
    height: auto;
    position: static; /* Fixed Sidebar (stay in place on scroll) */
    width: 100%;
    text-align: center;
  }

  .container {
    margin-left: 0;
  }

  #sidebar ul {
    list-style-type: none;
    margin: 5px 0;
  }

  #sidebar h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
  }

  .container {
    width: 100%;
  }

  .recommendation-wrapper {
    margin-left: 0;
  }
}
