#!/usr/bin/env ruby

compile '/index.html' do
  filter :erb
  layout '/default.*'
  write '/index.html'
end

route '/year/*.html' do
  year = item.identifier
  puts "#{year}"
  filter :erb
  layout '/posts_by_year.*', locals: { year: "2019" }
  '/2019.html'
end

compile '/category/*.html' do
  filter :erb
  cat_name = item.identifier.to_s.split("\/").last.split(".").first
  layout '/category.*', locals: { name: cat_name }
  write "/#{I18n.transliterate(cat_name)}.html"
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
