#!/usr/bin/env ruby

compile '/index.html' do
  filter :erb
  layout '/posts_by_year.*', locals: { year: Time.now.year }
  filter :relativize_paths, type: :html5
  write '/index.html'
end

compile '/year/*.html' do
  year = item.identifier
  filter :erb
  layout '/posts_by_year.*', locals: { year: item[:id] }
  filter :relativize_paths, type: :html5
  write "/#{item[:id]}.html"
end

compile '/category/*.html' do
  filter :erb
  layout '/category.*', locals: { name: item[:id] }
  filter :relativize_paths, type: :html5
  write "/#{I18n.transliterate(item[:id])}.html"
end

# rss feed
compile "/feed.erb" do
  filter :erb
  filter :relativize_paths, type: :html5
  write "/feed.xml"
end

# Assets
compile '/**/*.css' do
  filter :relativize_paths, type: :css
  write @item.identifier.without_ext + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
