#!/usr/bin/env ruby

compile '/index.html' do
  filter :erb
  layout '/posts_by_year.*', locals: { year: Time.now.year }
  write '/index.html'
end

compile '/year/*.html' do
  year = item.identifier
  filter :erb
  layout '/posts_by_year.*', locals: { year: item[:id] }
  write "/#{item[:id]}.html"
end

compile '/category/*.html' do
  filter :erb
  puts "AA#{item[:id]}"
  layout '/category.*', locals: { name: item[:id] }
  write "/#{I18n.transliterate(item[:id])}.html"
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
